{% extends "base.html" %}

{% load abizeitung_tags %}

{% block content %}

<form class="form-horizontal" action="/student" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!--{{ form.errors }}-->

  <fieldset>
    <legend>Steckbrief</legend>
    <table class="table table-striped">
        <tr>
            <td class="form-left"><label class="control-label">Name</label></td>
            <td><p class="form-control-static">{{ student.fullname }}</p></td>
        </tr>
        <tr>
            <td class="form-left"><label class="control-label">Tutorengruppe</label></td>
            <td><p class="form-control-static">{{ student.tutor.fullname }}</p></td>
        </tr>
        {% for field in form %}
        {% if field.auto_id != "id_picture" and field.auto_id != "id_school_picture" and not field.auto_id|startswith:"id_teacher_survey" and not field.auto_id|startswith:"id_student_survey" %}
        <tr {% if field.errors %}class="has-error"{% endif %}>
            <td class="form-left"><label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label></td>
            <td>
                {{ field }}
                {% if field.errors %}
                <div class="alert alert-danger form-error">{{ field.error }}</div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td class="form-left"><b>Fotos</b></td>
            <td>
                <table style="with: 100%">
                    <tr>
                        <td style="width: 50%; border: none;">
                            <div style="text-align: center">{{ form.picture.label_tag }}</div>
                            <input type="file" name="picture" id="id_picture" />
                            <div style="height: 5px"></div>
                            {% if form.picture.errors %}
                            <div class="alert alert-danger form-error">{{ form.picture.errors }}</div>
                            {% endif %} 
                            {% if student.picture %}
                                <img style="margin-top: 5px; width: 100%" class="img-thumbnail" src="{{ student.picture.url }}" /><br />
                            {% endif %}
                        </td>
                        <td style="width:50%; border: none;">
                            <div style="text-align: center">{{ form.school_picture.label_tag }}</div>
                            <input type="file" name="school_picture" id="id_school_picture" />
                            <div style="height: 5px"></div>
                            {% if form.school_picture.errors %}
                            <div class="alert alert-danger form-error">{{ form.school_picture.errors }}</div>
                            {% endif %} 
                            {% if student.school_picture %}
                                <img style="margin-top: 5px; width: 100%" class="img-thumbnail" src="{{ student.school_picture.url }}" /><br />
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
  </fieldset>
  
  <fieldset>
    <legend>Schülertitel</legend>
    <table class="table table-striped">
    {% for field in form %}
        {% if field.auto_id|startswith:"id_student_survey" %}
        <tr {% if field.errors %}class="has-error"{% endif %}>
            <td class="form-left form-question"><label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label></td>
            <td>
                {{ field }}
                {% if field.errors %}
                <div class="alert alert-danger form-error">{{ field.errors }}</div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
  </fieldset>
  <fieldset>
    <legend>Lehrertitel</legend>
    <table class="table table-striped">
    {% for field in form %}
        {% if field.auto_id|startswith:"id_teacher_survey" %}
        <tr {% if field.errors %}class="has-error"{% endif %}>
            <td class="form-left form-question"><label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label></td>
            <td>
                {{ field }}
                {% if field.errors %}
                <div class="alert alert-danger form-error">{{ field.errors }}</div>
                {% endif %}  
            </td>
        </tr>
        {% endif %}
     {% endfor %}
     </table>
  </fieldset>
  
  <button type="submit" class="btn btn-default">Speichern</button>
</form>

{% endblock %}
